@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    <span style="padding:15px;"></span>

    <a class="btn btn-outline-succes my-2 my-sm-0" asp-controller="Account" asp-action="Login"><i class="bi bi-box-arrow-in-right"></i> Login</a>

    <span style="padding:15px;"></span>

    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register"><i class="bi bi-person-plus"></i> Register</a>

}